/**
* Description: Core theme for Samir
*/

/**
* Structure
*/
html{}
body{
   background-color:green;
   font: 1em Verdana, Arial, Helvetica, sans-serif;
}

h1 {color: green;}
h2 {color: green;}


#header,
#main,
#footer {
   margin:0 auto;
   width:970px;
   background-color:#fff;
   padding: 1em;
}